.biggerDiv {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  gap: 0;
  justify-content: flex-start;
  margin: 1em auto;
}

.innerDiv {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 2px solid black;
  font-size: 1.3em;
}

.redDiv {
  background-color: red;
}





